.header-box {
  width: 100vw;
  padding-top: 20px;
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 10px 0;
}

.header-box img {
  height: auto;
  max-height: 150px;
  width: auto;
}

#divider {
  height: 100px;
  width: 2px;
  background-color: var(--bg-accent);
  margin: 10px 30px
}

@media(max-width: 767px) {

 .header-box {
  flex-direction: column;
  padding: 30px
 }

 #divider {
  display: none;
 }
}