@import url('https://fonts.googleapis.com/css2?family=Quicksand&family=Silkscreen&family=Teko&display=swap');

.App {
  background-color: black;
  /* background: black; */
  background: url("../images/dark.jpeg");
  background-color: black;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  background-position: center;
}

.form-header {
  margin: 1em;
}

.form-item {
  margin: 1em;
}

/* Profile */

.user-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding-top: 25px;
}

.user-greet {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 20px;
}

@media(max-width: 767px) {
  .App {
    max-width: 767px;
  }

  .user-container {
    padding-top: 15px;
  }
}

@media(max-width: 480px) {
  .App {
    max-width: 480px;
  }
}