/* @import url('https://fonts.googleapis.com/css2?family=Silkscreen&display=swap'); */
@import url('https://fonts.googleapis.com/css2?family=Quicksand&family=Silkscreen&display=swap');

.App {
  background-color: black;
  background: black;
  /* background: url("../images/dark.jpeg"); */
  background-color: black;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  background-position: center;
}

.header-box {
  width: 100vw;
  display: flex;
  justify-content: center;
}

.header-box img {
  width: 90%;
  height: auto;
  margin-top: 1em;
  max-width: 1000px;
}

.form-header {
  margin: 1em;
}

.form-item {
  margin: 1em;
}

.content-table {
  font-size: .9em;
}

.table-head {
  background-color: darkblue;
  color: white;
  text-align: left;
}