@import url('https://fonts.googleapis.com/css2?family=Noto+Sans&display=swap');

/* **************
  Base Styles
************** */

.App {
  background: url("../images/background.jpeg");
  min-height: 100vh;
  width: auto;
  background-color: black;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  background-position: center;
  font-family: 'Noto Sans', sans-serif;
  margin-top: -10px;
}

/* **************
  Variables
************** */

.App {
  /* Primary */
  --bg: #4d4d4e;
  --bg-alt: #979b9c;
  --bg-secondary: #d2d3d3;
  --bg-secondary-alt: #868a8a;
  --bg-accent: #fafafa;
  --button-hover: #a3a5a7;

  /* Accents */
  --accent-primary: #275da3;
  --accent-secondary: #9fcfe6;

  /* Text */
  --text: #dfdede;
  --text-alt: #0c0404;
  --text-secondary:#dfdede;

  /* NavBar */
  --nav-size: 60px;
  --border: 1px solid var(--bg);
  --border-radius: 8px;
  --speed: 500ms;
  --button-size: 40px;
  --button-size-mobile: 30px;

  /* Table */
  --table-bg: rgb(55, 55, 55, 0.8);
  --table-bg-alt: rgb(230, 230, 230, 0.8);
}

/* **************
  Button Styles
************** */

.button-group {
  display: flex;
  justify-content: space-around;
}

.button-group button, .button-group input {
  background-color: var(--bg);
  border: none;
  border-radius: 5px;
  color: var(--text);
  padding: 10px 25px;
  margin: 10px 10px;
  text-align: center;
  text-decoration: none;
  font-size: 16px;
  cursor: pointer;
}

.button-group button:hover, .button-group input[type="submit"].btn:hover{
  background-color: var(--bg-alt);
  color: var(--text-alt)
}

.button-group .alt-button {
  background-color: var(--bg-secondary);
  color: var(--text-alt)
}

.button-group .alt-button:hover {
  background-color: var(--bg-secondary-alt);
  color: var(--text)
}

/* **************
  Checkbox Styles
************** */

.checkbox-container {
  display: flex;
  align-items: center;
  justify-content: center;
}

.checkbox-container label {
  cursor: pointer;
  display: flex;
}

.checkbox-container input[type='checkbox'] {
  cursor: pointer;
  opacity: 0;
  position: absolute;
}

.checkbox-container label::before {
  content: '';
  width: 1.3em;
  height: 1.3em;
  border: 0.05em solid black;
  border-radius: 0.15em;
  margin-right: 0.05em;
  align-self: center;
}

.checkbox-container label:hover::before,
.checkbox-container input[type="checkbox"]:hover + label::before {
  background-color: var(--accent-secondary);
}

.checkbox-container input[type="checkbox"]:focus + label::before {
  box-shadow: 0 0 20px black;
}

.checkbox-container input[type='checkbox']:checked + label::before {
  content: '\002714';
  background-color: var(--accent-primary);
  display: flex;
  justify-content: center;
  align-items: center;
  color: white;
}



/* *****
MEDIA
***** */

@media(max-width: 767px) {
  .App {
    max-width: 767px;
  }

  .user-container {
    padding-top: 15px;
  }
}

@media(max-width: 480px) {
  .App {
    max-width: 480px;
  }
}