.table-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  color: var(--text);
  margin: 20px auto;
}

.search-box {
  padding-top: 10px;
  display: flex;
  width: 80vw;
  padding-bottom: 10px;
  color: var(--text-alt);
}

.search-box input {
  width: 100%;
  padding: 12px 20px;
  box-sizing: border-box;
  background-color: var(--bg-accent);
}

.filter-box {
  display: flex;
}

.content-table {
  border-collapse: collapse;
  font-size: 0.9em;
  width: 80vw;
}

.content-table thead {
  background-color: var(--bg-alt);
  color: var(--text);
  font-size: 1.3em;
  text-align: left;
  white-space: nowrap;
  height: 100px;
}

.content-table th, .content-table td {
  padding: 20px;
}

.content-table tbody {
  background-color: var(--table-bg);
}

.content-table tbody tr:nth-of-type(even) {
  background-color: var(--table-bg-alt);
  color: var(--text-alt);
}

.content-table tbody tr:last-of-type {
  border-bottom: 5px solid var(--bg);
}

/* Edits and Inputs */
.content-table input {
  color: black;
  padding: 10px;
}

.content-table select {
  color: black;
  padding: 10px;
}


/* Buttons & Select */
.search-box select {
  margin-left: 20px;
  padding: 8px 12px;
  color: var(--text);
  background-color: var(--accent-primary);
  cursor: pointer;
  border-radius: 5px;
}

.search-box select:hover {
  background:var(--accent-secondary);
  color: var(--text-alt)
}

.search-button {
  background-color: var(--accent-primary);
  border-radius: 5px;
  color: var(--text);
  padding: 8px 30px;
  margin-left: 20px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  transition-duration: 0.4s;
}

.search-button:hover {
  background:var(--accent-secondary);
  color: var(--text-alt)
}

.description-button {
  background-color: var(--accent-primary);
  border: none;
  border-radius: 3px;
  color: var(--text);
  padding: 5px 15px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  transition-duration: 0.4s;
}

.description-button:hover {
  background:var(--accent-secondary);
  color: var(--text-alt)
}

tr a {
  background-color: var(--accent-primary);
  color: var(--text);
  border-radius: 3px;
  padding: 7px 25px;
  display: inline-flex;
  justify-content: center;
  align-items: center;
}

tr a:hover {
  background-color: var(--accent-secondary);
  color: var(--text-alt)
}

.icon {
  height: 20px;

}

.pagination {
  display: flex;
  list-style: none;
}

.pagination li {
  margin: 10px;
}

.filterbox button {
  display: hidden;
}

@media (max-width: 1200px) {
  .content-table th, .content-table td {
    padding: 20px 5px;
  }
}

@media (max-width: 900px) {

  .search-box {
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }

  .filter-box {
    margin: 10px;
  }

  .content-table thead {
    height: 0;
  }

  .content-table tbody tr td:last-of-type {
    border-bottom: 5px solid var(--bg-accent);
    padding-bottom: 10px
  }

  .content-table th, .content-table td {
    padding: 3px;
  }

  .content-table th {
    display: none;
  }

  .content-table td {
    display: block;
    text-align: left;
    padding: 5px;
  }

  .content-table td::before{
    content: attr(data-heading) " : ";
    font-weight: bold;
    width: 8.5em;
    display: inline-block;
  }

}