/* Form Styles */
.user-form, .institute-form {
  width: 90%;
  max-width: 500px;
  margin: auto;
}

/* Review Styles */
#review-box {
  width: 90%;
  max-width: 700px;
  background-color: var(--bg-accent);
  margin: 20px auto;
  padding: 20px;
  border-radius: 3px;
  display: flex;
  flex-direction: column;
}

#review-box h1 {
  font-size: 2em;
  font-weight: bold;
  color: var(--text-alt)
}


.signup-info-element label {
  font-size: 12px;
  color: gray;
}

.signup-info-element p {
  font-size: 20px;
  color: var(--text-alt);
  margin-left: 20px;
}