.overlay {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: rgba(0, 0, 0, 0.7);
  z-index: 1000;
}

.modal-container {
  --bg: #53bbfa;
  --bg-alt: #aadbf9;
  --border: #262627ee;
}

.modal-container {
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background-color: #fff;
  padding: 50px;
  z-index: 1000;
  color: black;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 80vw;
  border: 3px solid var(--border);
  overflow: auto;
}

.modal-content {
  position:relative;
  overflow:auto;
  height:100%;
  width: 100%;
}






.modal-container h3 {
  font-weight: bold;
}

.data-container {
  padding: 10px 0px 10px 0px;
  display: flex;
  align-items: center;
  justify-content: center;
}

/* Description Modal */

.info {
  display: flex;
  flex-direction: column;
  width: 40%;
  padding: 0px 50px 0px 10px;
}

.info span {
  white-space: nowrap;
}

.modal-container button {
  background-color: var(--button-color);
  border: none;
  border-radius: 3px;
  color: var(--text);
  padding: 5px 15px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  transition-duration: 0.4s;
}

/* Edit Modal */
.edit-container {
  padding: 10px 0px 10px 0px;
  width: 80%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
 .edit-container input, .edit-container textarea, .edit-container select {
    width: 100%;
    padding: 12px 20px;
    margin: 5px 0;
    box-sizing: border-box;
    border: 1px solid black;
 }

 .edit-container label {
  width: 100%;
  text-align: left;
 }

 .edit-container textarea {
  min-height: 200px;
 }

@media(max-width:767px) {

  .data-container{
    display: flex;
    flex-direction: column;
    align-items: flex-start;
  }

  .info {
    padding: 10px;
  }

  .description {
    padding: 10px
  }


}