.overlay {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: rgba(0, 0, 0, 0.7);
  z-index: 1000;
}

.modal-content {
  --bg: #53bbfa;
  --bg-alt: #aadbf9;
  --border: #262627ee;
  --text: #dfdede;
  --button-color: #626462;
  --button-hover: #a3a5a7;
  font-family: Copperplate, "Copperplate Gothic Light", sans-serif;
}

.modal-container {
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background-color: #fff;
  padding: 50px;
  z-index: 1000;
  color: black;
  width: 80vw;
  border: 3px solid var(--border);
  max-height: 600px;
  overflow: auto;
}

.modal-content {
  width: 100%;
}

.modal-container h3 {
  font-weight: bold;
  font-family: Copperplate, "Copperplate Gothic Light", sans-serif;
  font-size: 2em;
  text-align: center;
  margin: 10px;
}

.button-group {
  display: flex;
  justify-content: space-around;

}

.button-group button {
  background-color: var(--button-color);
  border: none;
  border-radius: 3px;
  color: var(--text);
  padding: 5px 15px;
  margin-top: 20px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  transition-duration: 0.4s;
}

.button-group button:hover {
  background-color: var(--button-hover);
}

/* Description Modal */

.info {
  display: flex;
  flex-direction: row;
}

.info-left {
  display: flex;
  flex-direction: column;
  margin-right: 20px;
  min-width: 200px;
}

.info-left span {
  display: block;
  width: 100%;
}

.info-right {
  width: 100%;
}

/* Edit Modal */

.final-check {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 20px;
}

.update-info {
  display: grid;
  flex-direction: column;
}

.modal-content input, .modal-content select, .modal-content textarea{
  padding: 10px;
  margin: 10px;
  border: 1px solid black;
}

.modal-content textarea {
  height: 120px;
}


@media(max-width:767px) {

  .data-container{
    display: flex;
    flex-direction: column;
    align-items: flex-start;
  }

  .info {
    padding: 10px;
  }

  .description {
    padding: 10px
  }


}