.table-container {
  --bg: #53bbfa;
  --bg-alt: #aadbf9;
  --text: #0c0404;
  --table-bg: rgb(55, 55, 55, 0.5);
  --table-bg-alt: rgb(230, 230, 230, 0.8);
}

.table-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  color: white;
  max-width: 900px;
  margin: 20px;
}

.search-box {
  padding-top: 10px;
  display: flex;
  width: 79vw;
  padding-bottom: 10px;
  color: var(--text);
}

.search-box input {
  width: 100%;
  padding: 12px 20px;
  box-sizing: border-box;
}

.filter-box {
  display: flex;
}

.content-table {
  border-collapse: collapse;
  font-size: 0.9em;
  width: 80vw;
}

.content-table thead {
  background-color: var(--bg);
  color: var(--text);
  font-size: 1.2em;
  font-weight: bold;
  text-align: left;
  white-space: nowrap;
  border: 5px solid black;
}

.content-table th, .content-table td {
  padding: 20px;
}

.content-table tbody {
  background-color: var(--table-bg)
}

.content-table tbody tr:nth-of-type(even) {
  background-color: var(--table-bg-alt);
  color: var(--text);
}

.content-table tbody tr:last-of-type {
  border-bottom: 4px solid var(--bg);
}

/* Buttons & Select */
.search-box select {
  margin-left: 20px;
  padding: 8px 12px;
  color: var(--text);
  background-color: var(--bg);
  border: 1px solid black;
  cursor: pointer;
  border-radius: 5px;
}

.search-box select:hover {
  background:var(--bg-alt)
}
.search-button {
  background-color: var(--bg);
  border: none;
  border-radius: 3px;
  color: var(--text);
  padding: 8px 30px;
  margin-left: 20px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  transition-duration: 0.4s;
}

.search-button:hover {
  background:var(--bg-alt);
}

.description-button {
  background-color: var(--bg);
  border: none;
  border-radius: 3px;
  color: var(--text);
  padding: 5px 15px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  transition-duration: 0.4s;
}

.description-button:hover {
  background:var(--bg-alt);
}

.pagination {
  display: flex;
  list-style: none;
}

.pagination li {
  margin: 10px;
}

.filterbox button {
  display: hidden;
}

@media (max-width: 767px) {

  .search-box {
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }

  .filter-box {
    margin: 10px;
  }

  .content-table tbody tr td:last-of-type {
    border-bottom: 5px solid black;
  }

  .content-table th, .content-table td {
    padding: 3px;
  }

  .content-table th {
    display: none;
  }

  .content-table td {
    display: block;
    text-align: left;
  }

  .content-table td::before{
    content: attr(data-heading) " : ";
    font-weight: bold;
    width: 8.5em;
    display: inline-block;
  }
}